# File types #
##############
*.pyc
*.swo
*.swp
*.swn
*.DS_Store

# Directories #
###############
logs/
venv/
variables

# Specific files #
##################
.vscode
__pycache__
settings/settings.py
actions/summary_breakdown.py